<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>298364747883-cg3n82lohasn24tcgbmv9gvn8bf5ndp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298364747883-cg3n82lohasn24tcgbmv9gvn8bf5ndp7</string>
	<key>API_KEY</key>
	<string>AIzaSyDkR86XQDlZ_LxidFpC14USCHZubn9L5YE</string>
	<key>GCM_SENDER_ID</key>
	<string>298364747883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unforgiving.colors</string>
	<key>PROJECT_ID</key>
	<string>unforgiving-colors</string>
	<key>STORAGE_BUCKET</key>
	<string>unforgiving-colors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298364747883:ios:d21823b4dfd2b595</string>
	<key>DATABASE_URL</key>
	<string>https://unforgiving-colors.firebaseio.com</string>
</dict>
</plist>