<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unforgivinggames.androidnotifications">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- NOTIFY java -->
        <receiver android:name="com.unforgivinggames.androidnotifications.LocalPushNotification"></receiver>
        <!-- end -->

        <activity android:name="com.unity3d.player.UnityPlayerNativeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
        </activity>

    </application>
</manifest>
